<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="cerrarDetalle()">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Detalle activo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Detalle</ion-card-subtitle>
      <ion-card-title>DETALLE DEL ACTIVO {{ act.descripcion.toUpperCase() }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Código</ion-label>
        <ion-input value="{{ act.codigo }}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input value="{{ act.descripcion }}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Custodio 1</ion-label>
        <ion-input value="{{ act.custodio1 }}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Custodio 2</ion-label>
        <ion-input value="{{ act.custodio2 }}" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input value="{{ act.usuario }}" disabled="true"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="leerTags()"><ion-icon slot="start" name="bookmark-outline"></ion-icon>Etiquetar</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card-content *ngIf="mostrarEtiquetas" >
    <ion-list>
      <ion-card ion-item *ngFor="let activo of listaEtiquetas" (click)="seleccionarEtiqueta(activo)">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>{{ activo }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Custodio: {{ activo }}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-card-content>
</ion-content>
